body {
}
#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}
#regi {
  font-family: "Courier New", Courier, monospace;
}
.inputField {
  border-radius: 5px;
  text-align: center;
}
.err {
  color: red;
  font-size: 15px;
}
.regBtn:enabled {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  background-color: #262559;
  color: white;
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 40%;
  margin-bottom: 10px;
  cursor: pointer;
}
.regBtn:disabled {
  font-size: 18px;
  border-radius: 5px;
  width: 80%;
  height: 40%;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
