#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
#regi {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inputField {
  border-radius: 5px;
  text-align: center;
}
.err {
  color: red;
  font-size: 15px;
}
.regBtn:enabled {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  background-color: #262559;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 20px 20px;
  padding: 7px 60px;
  cursor: pointer;
}
.regBtn:disabled {
  font-size: 18px;
  border-radius: 5px;
  padding: 7px 60px;
  border: none;
  margin: 20px 20px;
}
